<header class="flex justify-between flex items-center justify-center h-16 mt-2 mx-4">
  <div class="logo h-16 rounded-full object-cover">
    <%= link_to image_tag('logo_in_header.png', alt: '英語でどういうノートのロゴ', class: 'h-full rounded-full object-cover'), cards_path %>
  </div>
  <div class="header-links flex justify-end">
    <%= render 'application/header/header_links' %>
  </div>
</header>
<hr class="a-border"/>
