<div class="header-dropdown__list">
  <ul class="header-dropdown__items">
    <li class="header-dropdown__item">
      <%= link_to '', class: 'header-dropdown__item-link' do %>
        ログアウト
      <% end %>
    </li>
    <li class="header-dropdown__item">
      <%= link_to '', class: 'header-dropdown__item-link' do %>
        退会
      <% end %>
    </li>
  </ul>
</div>
