<div class="header-dropdown__list">
  <ul class="header-dropdown__items">
    <li class="header-dropdown__item">
      <%= link_to 'ログアウト', '', class: 'header-dropdown__item-link', data: { turbo_prefetch: false } %>
    </li>
    <li class="header-dropdown__item">
      <%= link_to '退会', '', class: 'header-dropdown__item-link', data: { turbo_prefetch: false } %>
    </li>
  </ul>
</div>
