<% set_meta_tags title: '英語でどういう？ノート' %>
<% set_meta_tags description: '気になるフレーズの翻訳と記録が一度にできるアプリです。' %>

<div class="w-full flex flex-col items-center">
  <div>
    <%= image_tag 'logo_only_text.png', alt: '英語でどういう？ノートのロゴ', class: 'mt-8' %>
  </div>
  <div class="flex justify-center">
    <%= image_tag 'logo_without_text.png', alt: '英語でどういう？ノートのロゴ',  class: 'w-1/3 md:w-1/2' %>
  </div>
  <p class="text-base md:text-4xl font-semibold">
    翻訳と記録を同時にしてくれる
  </p>
  <p class="text-base md:text-4xl font-semibold">
    英語フレーズ帳
  </p>
  <p class="justify-self-center text-center text-sm md:text-lg mt-4">気になるフレーズを日本語で入力するだけで、英語のフレーズ帳が簡単に作成できます！</p>
    <%= image_tag 'welcome.png', alt: 'サービス概要', class: 'mt-8' %>
  <p class="font-bold text-sm md:text-lg">
    まずは気になるフレーズを翻訳してみましょう！
  </p>
  <%= render 'login_button_block' %>
</div>
