<hr class="a-border">
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <nav class="footer-nav">
        <ul class="footer-nav__items">
          <li class="footer-nav__item">
            <%= link_to 'トップページ', root_path, class: 'footer-nav__item-link' %>
          </li>
          <li class="footer-nav__item">
            <%= link_to '利用規約', terms_path, class: 'footer-nav__item-link' %>
          </li>
          <li class="footer-nav__item">
            <%= link_to 'プライバシーポリシー', privacy_path, class: 'footer-nav__item-link' %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
