<p>和文：<%= link_to card.ja_phrase, card_path(card) %></p>
<p>英文：<%= link_to card.en_phrase, card_path(card) %></p>
<%= link_to '編集する', edit_card_path(card) %>
<p>----------------------------------------------</p>
