<div id="introduction-for-creation">
  <h2 class="flex justify-center font-bold text-lg md:text-xl mb-8">フレーズ一覧へようこそ！！</h2>
  <p class="text-base md:text-xl mb-8">
    この画面ではフレーズの翻訳、編集、削除、検索などを行うことができます。<br>
    まずは右下の「＋」ボタンから翻訳画面を開き、気になるフレーズを翻訳してみましょう。
  </p>

  <h3 class="flex justify-center font-bold text-lg md:text-xl mb-8">使い方</h3>
  <p class="text-base md:text-xl mb-8">
    （１）画面右下にある「＋」ボタンを押して翻訳画面を開く。
  </p>
  <p class="text-base md:text-xl mb-8">
  （２）翻訳したい日本語または英語のフレーズを入力し、「翻訳する」ボタンを押す。<br>
   （日本語は100文字、英語はスペースを含む200文字まで翻訳できます。）
  </p>
  <p class="text-base md:text-xl mb-8">
  （３）翻訳結果とセットでフレーズが記録されるので、後で復習モードで見返して記憶に定着したら「覚えた！」ボタンでチェックしましょう。復習モードで出題されなくなります。<br>
  一度覚えたものでも時間が経って忘れてしまった場合は、チェックを外せばまた復習モードで出題されるようになるので何度でも繰り返し学習できます。
  </p>
</div>
