<h1>新規作成</h1>
<%= form_with model: @card do |form| %>
  <%= form.label :ja_phrase, '気になるフレーズ' %>
  <%= form.text_area :ja_phrase, id: 'new_text' %>
  <div>
    <%= form.submit '翻訳する' %>
  </div>
<% end %>
