<div>
  <h1 class="font-bold text-4xl">Cards#show</h1>
  <div>
    <%= render partial: 'card', locals: { card: @card } %>
  </div>
  <%= link_to '削除する', card_path(@card), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
</div>
