/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "application.tailwind";

.header-links__item {
  position: relative;
}

.spinner {
  display: none;
}

.spinner.is-visible {
  display: block;
}

.a-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 2rem;
  border-radius: 9999px;
  border: 1px solid #b0b0b0;
  color: #b0b0b0;
  margin-right: auto;
}

.a-filter .btn {
  position: absolute; /* li 全体を覆う */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* 中央揃え */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.a-filter.is-selected {
  display: inline-flex;
  height: 2rem; /* 12 * 0.25rem */
  align-items: center;
  justify-content: center;
  border-radius: 9999px; /* rounded-md */
  background-color: #6791d1; /* neutral-950 */
  padding-left: 1.5rem; /* 6 * 0.25rem */
  padding-right: 1.5rem; /* 6 * 0.25rem */
  font-weight: 500; /* font-medium */
  color: #fafafa; /* neutral-50 */
}
