/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "application.tailwind";

.header-links__item {
  position: relative;
}

.spinner {
  display: none;
}

.spinner.is-visible {
  display: block;
}

.is-selected {
  background-color: #caeceb;
  font-weight: 600;
  color: #575555;
}

.is-selected:hover {
  background-color: #1db5b4;
}

.search-field {
  border-color: #b0b0b0;
}

.header-dropdown {
  width: 250px;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
}

.header-dropdown > :not([hidden]) ~ :not([hidden]) {
  border-top-width: 1px;
  border-color: #b0b0b0;
  border-style: dashed;
}

.public-error-page {
  max-width: 640px;
  margin: 0 auto;
  height: 100vh;
  color: #575555;
}

.public-error-page h1,
.public-error-page p {
  text-align: center;
}

.public-error-page a {
  color: #575555;
  text-decoration: none;
}

.public-error-page a:hover {
  text-decoration: underline;
}
