<div class="mt-8">
  <h2 class="text-base md:text-xl font-semibold underline">復習モードの使い方</h2>
  <div class="text-sm md:text-lg mb-8 p-4">
    <ol class="list-decimal">
      <li>日本語だけを見て英語のフレーズを思い出しましょう。（声に出して音読すると効果的です。）</li>
      <li>「英文を表示」を押して、1.で思い出した英文が合っていたか確認しましょう。</li>
      <li>スラスラ言えるようになるまで1と2を何度も繰り返しましょう。</li>
      <li>覚えたフレーズはチェックボタンを押すと復習モードで出題されなくなります。</li>
      <li>「次のカードへ」または「前のカードへ」を押すと別のカードが出題されます。</li>
    </ol>
  </div>
</div>
